<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>


	<!-- Events -->
	<LetterLabelLostBantee>Lost Bantee Wanders In</LetterLabelLostBantee>
	<LetterLostBantee>A lost Bantee Metroid has wandered into the area. You can try to tame it, or you can leave it be, but betware; without a maturnal figure, it will not survive for long.</LetterLostBantee>


</LanguageData>