<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>


	<!-- Events -->
	<LetterLabelLostBantee>Lost Bantee Wanders In</LetterLabelLostBantee>
	<LetterLostBantee>A lone Bantee Metroid has wandered into the area. You can try to tame it, or you can leave it be, but betware; without a maturnal figure, it will not survive for long.</LetterLostBantee>


  <LetterLabelLarvaePack>Metroid Larvae Pack</LetterLabelLarvaePack>
	<LetterLarvaePack>A pack of Metroid Larvae has wandered into the area, searching for food. You can hunt them down, tame them, or choose to let them be, but beware; they will only leave once the area is completely void of life.</LetterLarvaePack>


  <LetterLabelMetroidQueenMoving>Metroid Queen Spotted</LetterLabelMetroidQueenMoving>
	<LetterMetroidQueenMoving>The local metroid queen has been spotted on the move.  An extremely durable and unique creature, the metroid queen single-handedly leads all the metroids on the planet. Defeating it will put a halt to metroid raids, but beware; next to none have ever been killed.</LetterMetroidQueenMoving>


  <LetterLabelMetroidQueenKilled>Metroid Queen Slain!</LetterLabelMetroidQueenKilled>
	<LetterMetroidQueenKilled>The local metroid queen has been killed! As incredible as it may seem, {PAWN_nameDef} has delivered a killing blow, disorganizing the whole metroid collective and disrupting their raids. News of this incredible feat will spread across the world.</LetterMetroidQueenKilled>

  <LetterLabelFactionKilledMetroidQueen>Metroid Queen Slain by {FACTION_name}!</LetterLabelFactionKilledMetroidQueen>
	<LetterFactionKilledMetroidQueen>{FACTION_name} has successfully slain the metroid queen! As incredible as it may seem, the local metroid queen now lies dead. The whole metroid collective has been disorganized as a result, putting a halt to their raids.</LetterFactionKilledMetroidQueen>

  <LetterLabelQueenSpotted>New Metroid Queen Spotted!</LetterLabelQueenSpotted>
	<LetterMetroidQueenSpotted>A new Metroid Queen has been spotted! Despite the last one clearly being killed, another Metroid Queen has risen up, and taken it's place. The whole collective has reorganized itself, and metroids raids will once again occur.</LetterMetroidQueenSpotted>

<LetterLabelMetroidLikesQueen>{0} joins the colony</LetterLabelMetroidLikesQueen>
	<LetterMetroidLikesQueen>{0} has joined the colony due to the presence of a Metroid Queen.</LetterMetroidLikesQueen>

</LanguageData>